.root {
    li {
        display: inline-flex;


        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fe5f1e;
            align-self: center;
            width: 45px;
            height: 45px;
            padding: 10px;
            border: 1px solid #fe5f1e;
            border-radius: 30px;
            margin-right: 10px;
            cursor: pointer;
            transition: all 0.15s ease-in-out;

            &:hover {
                background-color: #fe5f1e;
                color: #fff;
            }
        }
    }

    :global {
        .selected {
            a {
                background-color: #fe5f1e;
                color: #fff;
            }
        }

        .disabled {
            display: none;
        }
    }
}